.signup-btn {
  border: 1px solid #212832;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn:hover {
  background-color: #212832;
  color: #fff;
}

/* Remove the border from the dropdown */
.no-border {
  border: none !important;
  background-color: transparent !important;
}

/* Spacing between Login, Signup, and Dropdown */
.navbar .form-inline .gap-3 {
  gap: 20px;
}

/* Styling for the Dropdown */
.language-dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  color: #212832;
  transition: background-color 0.3s ease;
}

/* Ensuring the dropdown button doesn't disappear when hovering */
.language-dropdown .dropdown-toggle:hover {
  background-color: #212832;
  color: white;
}

/* Dropdown menu styles */
.language-dropdown .dropdown-menu {
  border: 1px solid #212832;
  border-radius: 5px;
  display: block !important;
}

/* Fix to prevent dropdown from disappearing on hover */
.language-dropdown:hover .dropdown-toggle {
  background-color: #212832;
  color: white;
}

.language-dropdown:hover .dropdown-menu {
  display: block !important;
}